<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Student Manager</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<div class="container-fluid text-center">

    <div>
        Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
    </div>

    <div class="m-2">
        <a th:href="@{/logout}" class="h5">Logout</a>
    </div>

  <h2>List All Students</h2>
  <div class="m-2">
        <a sec:authorize="hasAnyAuthority('ADMIN')" class="h3" th:href="@{/students/new}" >Create New Student</a>
    </h3>
  </div>
  <div>
     <table class="table table-striped table-bordered">
        <thead class="table table-dark">
            <tr>
              <th>ID</th>
              <th>E-mail</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Address</th>
              <th>GPA</th>
              <th sec:authorize="hasAnyAuthority('ADMIN')" >Actions</th>
            </tr>
        </thead>
       <tbody>
            <tr th:each="list : ${students}">
              <td>[[${list.id}]]</td>
              <td>[[${list.email}]]</td>
              <td>[[${list.firstName}]]</td>
              <td>[[${list.lastName}]]</td>
              <td>[[${list.address}]]</td>
              <td>[[${list.gpa}]]</td>
              <td sec:authorize="hasAnyAuthority('ADMIN')">
                 <a class="h5 m-2" th:href="@{'/students/edit/' + ${list.id}}">Edit</a>
                <a class="h5" th:href="@{'/students/delete/' + ${list.id}}">Delete</a>

              </td>

            </tr>
       </tbody>
     </table>

      <div>
          <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                  <li th:if="${currentPage > 1}" class="page-item">
                      <a class="page-link" th:href="@{'/students/' + ${currentPage - 1}}">Previous</a>
                  </li>
                  <li th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link" th:href="@{'/students/' + ${i}}">[[${i}]]</a>
                  </li>
                  <li th:if="${currentPage < totalPages}" class="page-item">
                      <a class="page-link" th:href="@{'/students/' + ${currentPage + 1}}">Next</a>
                  </li>
              </ul>
          </nav>
      </div>

  </div>
</div>
</body>
</html>